{% extends 'base.html' %}


{% block content %}
<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <div class="mx-auto">
            <h5>DETALLES ESTUDIANTE</h5>
        </div>
        <p class="card-text">
        <ul class="list-unstyled">
            <li class="card-text text-light my-3">Rut: {{ id }}</li>
            <li class="card-text text-light my-3">Nombre: {{ estudiante.nombre }}</li>
            <li class="card-text text-light my-3">Apellido paterno: {{ estudiante.apellido_pat }}</li>
            <li class="card-text text-light my-3">Apellido paterno: {{ estudiante.apellido_mat }}</li>
            <!-- <p class="card-text">Direccion: {{ estudiante.direccion }}</p>
                    <p class="card-text">Fecha inicio: {{ estudiante.codigo_curso__fecha_incio }}</p> -->
            <!-- <li class="card-text text-dark">Descripción: {{
                estudiante.codigo_curso.codigo_plan_formativo.descripcion}}</li> -->
        </ul>
        </p>
        <div class="mx-auto mt-5">
            <h5>DETALLES CURSO</h5>
        </div>
        <p class="card-text">
        <ul class="list-unstyled">
            <li class="card-text text-light my-3">Descripción: {{ descripcion }}</li>
            <li class="card-text text-light my-3">Fecha inicio: {{ id }}</li>
            <li class="card-text text-light my-3">Fecha término: {{ id }}</li>
            <li class="card-text text-light my-3">Nombre Tutor: {{ id }}</li>


        </ul>
        </p>
        <!-- <p class="card-text">Descripción: {{ estudiante.curso__codigo_plan_formativo__descripcion }}</p> -->
        <!-- <p class="card-text">Descripción: {{ estudiante.codigo_curso__codigo_plan_formativo__descripcion }}</p> -->
        <!-- <p class="card-text">Duracion hr.: {{ estudiante.codigo_curso__codigo_plan_formativo__duracion_horas }}</p> -->
        <div class="mx-auto">
            <a href="{% url 'listar' %}" class="btn btn-primary">Volver al listado</a>
        </div>
    </div>
    {% endblock %}