{% extends 'base.html' %}


{% block content %}
<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Detalles Estudiante</div>
    <div class="card-body">
        <h5 class="card-title">Detalles</h5>
        <p class="card-text">Rut: {{ id }}</p>
        <p class="card-text">Nombre: {{ estudiante.nombre }}</p>
        <p class="card-text">Apellido paterno: {{ estudiante.apellido_pat }}</p>
        <p class="card-text">Apellido paterno: {{ estudiante.apellido_mat }}</p>
        <!-- <p class="card-text">Direccion: {{ estudiante.direccion }}</p>
        <p class="card-text">Fecha inicio: {{ estudiante.codigo_curso__fecha_incio }}</p> -->
        <p class="card-text">Descripción: {{ estudiante.codigo_curso__codigo_plan_formativo__descripcion }}</p>
        <!-- <p class="card-text">Duracion hr.: {{ estudiante.codigo_curso__codigo_plan_formativo__duracion_horas }}</p> -->
        <a href="#" class="btn btn-primary">Volver al listado</a>
    </div>
</div>
{% endblock %}