{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container forms py-3">
    <!-- <div class="container py-5"> -->
    <h2 class="text-center">Login</h2>
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            {{ login_form|crispy}}
            <div class="ps-5 mt-4">
                <button class="btn btn-primary ms-3" type="submit">Login</button>
            </div>
        </div>
    </form>
    <h6 class="ms-3 mt-3">(*) Campo requerido</h6>
    <p class="text-center mt-3"> <small>Si aún no tiene cuenta, regístrese en <a href="{% url 'registro' %}"
                class="text-secondary text-decoration-none">
                <b>Registro</b>
            </a></small>
    </p>
</div>
{% endblock content %}