<h5>Criterios de Búsqueda</h5>
<p>Región: {{region}}</p>
<p>Curso: {{curso}}</p>


<!-- if data is not empty then render the table -->
<p>Total: {{total}}</p>
{% if not message %}
<div class="tabla-datos mt-5">
    <table class="table table-hover overflow-scroll">
        <thead>
            <tr>
                <th scope="col" class="text-center">Rut</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Apellido Pat.</th>
                <th scope="col" class="text-center">Apellido Mat.</th>
                <th scope="col" class="text-center">Código curso</th>
                <th scope="col" class="text-center">Descripción curso</th>
            </tr>
        </thead>

        <tbody>
            {% for item in estudiantes %}
            <tr>
                <td class="text-center">{{item.rut}}</td>
                <td class="text-center">{{item.nombre}}</td>
                <td class="text-center">{{item.apellido_pat}}</td>
                <td class="text-center">{{item.apellido_mat}}</td>
                <td class="text-center">{{item.codigo_curso}}</td>
                <td class="text-center">{{item.codigo_curso__codigo_plan_formativo__descripcion}}</td>
                <td>
                    <form action="{% url 'detalle' item.rut %}" method="GET">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit" name="detalle_id">Ver</button>
                    </form>
                    <!-- <form action="detalle/{{item.rut}}" method="GET">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit" value={{"item.rut"}}
                            name="detalle_id">Ver</button>
                    </form> -->
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<h4>{{mensaje}}</h4>
{% endif %}